* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    --light-gray: rgb(123, 123, 123);
    --light-blue: #8dbafff0;
    --translucent-white: rgba(255, 255, 255, 0.7);

    --normal-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    --blur-filter: blur(8px);
}

html, body {
    overflow: hidden;
}

#outer-layout {
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
}

#header {
    background-color: rgba(208, 152, 255, 0.35);
    background-image: linear-gradient(to bottom right, red, yellow);
    color: rgb(103, 103, 103);
    height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid gray;
    font-size: 1.25vh;
}

.a:hover {
    color: aquamarine;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1vh;
}

#footer {
    background-color: rgb(255, 223, 189);
    color: rgb(103, 103, 103);
    height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid gray;
    font-size: 1.5vh;
}

#repo {
    margin-top: 0.75vh;
    font-size: 0.75vh;
}

.h1 {
    text-align: center;
}

.subtitle {
    text-align: center;
    margin-bottom: 1vh;
    font-size: 1.5vh;
}

#main {
    position: relative;
    height: 83.5vh;
    font-size: 1.2vh;
}

#unloaded-message {
    position: absolute;
    top: 0.25em;
    left: 0.25em;
    width: 70vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vh;
    color: rgb(238, 219, 214);
    text-align: center;
}

#viewer-container {
    position: absolute;
    top: 1vh;
    left: 0.5vw;
    outline: none;
    width: 70vw;
    height: 80vh;
    border: 3px solid gray;
}

#sidebar {
    position: absolute;
    padding: 1vh;
    top: 1vh;
    left: 71.5vw;
    width: 28vw;
    height: 80vh;
    border: 3px solid gray;
    color: rgb(103, 103, 103);
    background-color: #fff6e0;
    background-image: linear-gradient(to bottom right, #ffb0b0, #ffff89);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#instructions {
    display: flex;
    padding-bottom: 2vh;
    width: 20vw;
    text-align: justify;
}

#loading-animation {
    position: absolute;
    display: none;
}

.input-settings {
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 2vh;
    width: 20vw;
    height: 2.5vh;
    text-align: center;
    font-size: 1vh;
}

.spinning {
    animation: logo-spin 8s infinite 0s cubic-bezier(0.38, 0.01, 0, 0.99);
}

#generating-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timerDisplay{
    position: relative;
    padding: 0.5vh;
    font-family: 'Roboto mono',monospace;
    color: #673d30;
    font-size: 0.8vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#generating-txt{
    margin: 0.5em;
    width: 18vw;
    color: #ce9e7a;
}

#imgInpainted{
    width: 33vh;
    height: 33vh;
    margin-top: 1vh;
    background: #bbbbbb;
    border: 3px solid gray;
}

@media (max-width: 1080px){
    #viewer-container {
        top: 1vh;
        left: 0.5vw;
        width: 60vw;
        height: 34.75vh;
        border: 1px solid gray;
    }

    #sidebar {
        top: 1vh;
        left: 61.5vw;
        width: 38vw;
        height: 71vh;
        border: 1px solid gray;
    }

    #instructions {
        width: 30vw;

    }

    #imgInpainted {
        position: absolute;
        top: 35vh;
        left: -61.5vw;
        width: 60vw;
        height: 34.75vh;
        border: 1px solid gray;
    }

    .input-settings {
        width: 30vw;
    }

    #unloaded-message {
        top: 0.25em;
        left: 0.25em;
        width: 60vw;
        height: 39.75vh;
    }

    #main {
        height: 73.5vh;
    }

    #header {
        border: 1px solid gray;
    }
    #footer {
        border: 1px solid gray;
    }
}

@keyframes logo-spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.logo {
    width: 4vh;
    height: 4vh;
    margin: 0 1vh;
    transition: all 0.3s ease 0s;
}

@keyframes logo-spin {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.gegga {
    width: 0;
}

.snurra {
    position: absolute;
    width: 30vh;
    height: 30vh;
    margin-top: 13vh;
    margin-left: 20vw;
    filter: url(#gegga);
}

.stopp1 {
    stop-color: #f700a8;
}

.stopp2 {
    stop-color: #ff8000;
}

.halvan {
    animation: Snurra1 10s infinite linear;
    stroke-dasharray: 8vh 20vh;
    fill: none;
    stroke: url(#gradient);
    stroke-width: 16;
    stroke-linecap: round;
}

.strecken {
    animation: Snurra1 3s infinite linear;
    stroke-dasharray: 6vh 12vh;
    fill: none;
    stroke: url(#gradient);
    stroke-width: 16;
    stroke-linecap: round;
}

.skugga {
    width: 30vh;
    height: 30vh;
    filter: blur(1.5vh);
    opacity: 0.3;
    display: flex;
    position: absolute;
}

@keyframes Snurra1 {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -70vh;
    }
}


button {
    --color: #673d30;
    font-family: BebasNeueRegular;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.75vw;
    padding-right: 0.75vw;
    height: 2vh;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 1.4vh;
    border-radius: 0.5vh;
    font-weight: 500;
    color: var(--color);
    background-color: #ed761e;
}

button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

button:hover {
    color: #fff;
    cursor: pointer;
}

button:before {
    top: 100%;
    left: 100%;
    transition: all .3s;
}

button:hover:before {
    top: -30px;
    left: -30px;
}

button:active:before {
    background: #e6c2a9;
    transition: background 0s;
}

#file-input-button {
    margin-top: 1.75vh;
    margin-left: 1.5vw;
    font-size: 1vh;
}

#load-examples {
    margin-top: 1.75vh;
    margin-left: 0.5vw;
    font-size: 1vh;
}

#ifc-examples-group {
    margin-top: 4vh;
    margin-left: -3vw;
    display: flex;
    flex-direction: column;
}

.ifc-examples{
    font-size: 1vh;
    margin: 0.1vh;
    background-color: #edb61e;
}

#author {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fa {
    margin: 0.2em;
    padding: 4px;
    font-size: 30px;
    width: 2.25vh;
    height: 2.25vh;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #0073b2;
    color: white;
}

.fa-github {
    background: #181616;
    color: white;
}

[hidden] {
    display: none !important;
}